[submodule "themes/hugo-minimalist-theme"]
	path = themes/hugo-minimalist-theme
	url = https://github.com/digitalcraftsman/hugo-minimalist-theme.git
[submodule "public"]
	path = public
	url = git@github.com:colinsr/colinsr.github.io.git
	branch = master
